<div class="about">
  <div class="about-intro">
    <div class="about-intro-content">
      <h1>Our Mission</h1>
      <p>
        To be the first stop for every entrepreneur who are ready to take their
        business idea from imagination to sustainable growth.
      </p>
    </div>

    <div class="about-intro-img">
      <img src="../../assets/img/mission.png" alt="mission" />
    </div>
  </div>

  <section class="objective">
    <h1>Our Objective</h1>
    <div>
      <p>
        We create competitive and winning business plans and strategies that
        would help you to effectively utilize your resources and maximize your
        profit.
      </p>
      <p>
        For us, the sustainability and success of your business is at the core
        of our operations and we won't stop there.
      </p>
    </div>
  </section>

  <section class="objective">
    <h1>Our Vision</h1>
    <div>
      <p>
        Creating a platform where millions of businesses across Africa can turn
        their idea into cash cows.
      </p>
    </div>
  </section>

  <section class="get-in-touch">
    <div class="get-in-touch-intro">
      <h1>Get in touch with us to know more about eyefid</h1>
      <p>Feel free to send us any questions, suggestions or feedbacks</p>
    </div>

    <form class="form">
      <div class="form-group">
        <input type="text" name="firstName" placeholder="First Name" />
        <input type="text" name="lastName" placeholder="Last Name" />
      </div>
      <div>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div>
        <textarea
          name="message"
          id=""
          cols="30"
          rows="10"
          placeholder="message"
        ></textarea>
      </div>
    </form>
  </section>
</div>
