<footer class="footer">
  <div class="footer-logo">
    <img src="../../../../assets/img/eyefid_logo.png" alt="logo" />
  </div>

  <div class="wwa">
    <h1>Who we are?</h1>
    <p>
      Eyefid intelligence is a marketing consulting and research firm that helps
      businesses who are at the initial phase of starting their business, grow
      their idea, develop their product(s) and build a sustainable business plan
      /pitch deck using our Data intelligence technology.
    </p>
  </div>

  <div class="details">
    <h1>Contact</h1>
    <p>Office Address: 4 Are Ago street, Yaba, Lagos</p>
    <a href="mailto:info.eyefid@gmail.com">info.eyefid@gmail.com</a>

    <div class="social-media"></div>
  </div>
</footer>
