<div class="container">
  <div class="header-img">
    <img src="../../../assets/img/dispatch-bike.jpg" alt="Logistics" />
    <!-- <div class="header-title">
      <h1>DON’T START THAT LOGISTICS BUSINESS UNTIL YOU READ THIS</h1>
    </div> -->
  </div>

  <section class="qna">
    <h1>DON’T START THAT LOGISTICS BUSINESS UNTIL YOU READ THIS</h1>
    <p>
      This is an interview with the head of operations of one of the many
      successful dispatch logistics brands in Lagos, Nigeria. He has voluntarily
      shared his experience about his start up journey. Where he shares with us
      everything you need to know about the logistics business and how to
      succeed in the business. Tell us about the dispatch logistics industry The
      industry is a large one but personally, my view of the industry is
      centered around our operation. We are still at the surface and there is
      more to logistics than meet the eyes. I will rather you call it Dispatch
      business for the sake of the scale and level we are in. when you look
      critically at the market share and market size of the logistics industry,
      bike dispatch is the smallest aspect of what the sector entails. The
      industry is a very large one of which many people go into with little idea
      about the industry instead of creating a plan. It requires so much effort
      and dedication to succeed in Logistics. It is a highly risky business with
      high report of bike accidents, there are insurance but not enough to cater
      for the dangers of the business. No matter how much you try to be careful,
      the roads are bad and everyone is on the run trying to get to their
      various destination in the quickest possible way. You must think twice
      before going into it.
    </p>
  </section>
  <section class="qna">
    <h1>What Made you go into this business?</h1>
    <p>
      At the fast pace of growth in the real estate industry there I saw an
      opportunity beyond the normal conventional real estate agent. I saw that
      relocation was a serious issue in the real estate industry where people
      buy houses and need to move out from one home to a new home. I was
      passionate about proffering the solution but also realized that it was a
      capital-intensive project so I decided to start small. I began the
      dispatch business which is the lowest point of the logistics industry.
    </p>
  </section>
  <section class="qna">
    <h1>Did you Undergo any form of training before starting?</h1>
    <p>
      No, just have a business plan! Right before I set up my business and
      registered my company, I had previously worked for a friend’s dispatch
      business for 2 months to know how orders are received, how negotiations
      are done with the riders and how to manage riders. I knew I needed to have
      a solid understanding with the marketing aspect of the business and I was
      learning from online sources as well. If there is one thing that has
      brough us this far, it is asking question. I kept asking questions from
      those who were there before me and I learnt from their mistakes. I joined
      a logistics company group chat in Lagos were people shared their
      experiences ranging from how riders treat their employers and they also
      shared valuable tips on insurance, where bikes are repaired, the necessary
      papers, how to go about branding, keeping up with your customers etc.
    </p>
  </section>

  <section class="qna">
    <h1>
      What lesson did you learn in your first six months of starting the
      business?
    </h1>

    <p>
      That was the toughest time of my whole life. You know when you are
      starting a new business in a new industry feeling all excited calculating
      all the profits you are about to rake off and the imagination of your
      daily income and all of a sudden you realize that it was all a fantasy. My
      first six month I had the struggle of trying to win customers, trying to
      prove that I am trust worthy and capable of delivering on my promise. It
      was never easy, there were loses but I was resilient. I had the issue of
      handling riders who are hardwired to be irresponsible. In the first three
      month it felt like I was doing nothing as there were no orders. At that
      time people were skeptical about the brand. Some times when I am lucky, I
      get four orders in a day which I had to beg for and I still had to pay the
      riders from my personal money regardless. But as time went on from the
      fifth month things got better as I started waking up to 10 pending orders.
      It was an opportunity to prove ourselves.
    </p>
  </section>
  <section class="qna">
    <h1>
      If there was something you could have done correctly in the six month what
      would it have been?
    </h1>

    <p>
      As a starter you are desperate to be out there, desperate to make money,
      desperate to get moving and desperate not to make mistakes. At the
      beginning I was too careful not to make mistakes but it led me nowhere. It
      was until I freed myself and dared to fail and also face my fears that I
      got better. This is something I wish I knew in the first six month. I also
      wish I wasn’t desperate. Desperation will make you meet a rider today and
      want him to start work instantly without proper interview and background
      checks. But now I have my contract, guarantors form, Job description,
      shared organisation’s objectives and many legalities that puts the riders
      on check. I also ensure that they are mentally sound and okay. Your riders
      will eventually be a representation of your brand!
    </p>
  </section>

  <section class="qna">
    <h1>What would you say is the key attribute to your business success?</h1>
    <p>
      First of all, your customer service. I will always tell people, the name
      of the business is nothing, the business is the rider, the admin or
      customer relationship officer and how they communicate with your customer.
      They determine the success of the business; they are the people that your
      customers see and interact with. When these people are messed up your
      business is on the bad side. One thing that has helped box2door is that
      customer relationship became top notch and something we could brag about.
      We good excellent feedbacks from most clients. Riders being able to
      deliver at the right time, riders that see the success of the company as
      their successes. Sometimes client give feedbacks such as” your rider was
      really funny today and I want him to make my other deliveries “that was a
      sign he was passionate about delivering value which uplifts the brand
      image.
    </p>
  </section>

  <section class="qna">
    <h1>
      If you would give any advice to someone willing to go into this line of
      business, what would it be?
    </h1>
    <p>
      My advice would be for you to make research and ask questions. Don’t go
      about believing stories about the business because people are going to
      tell you it is a very lucrative business but they don’t tell you about the
      hard work and effort that is required to go into this business. I have had
      people come to me to ask how I am doing it and how they are tired and
      can’t continue barely after a month. My advice would be that you should be
      passionate about the business. I understand that you are here for the
      money but that will and should come after you have offered value. The
      primary goal should be to make your customers happy and satisfied with
      your service and money will follow.
    </p>
  </section>

  <section class="qna">
    <h1>Capital required to start</h1>
    <p>
      If you don’t have so much money you will suffer and might go about the
      wrong way for managing the business. It requires having extra money for
      insurgencies. The industry is risky. Starting off I had issues where my
      first two bikes had accident at the same time. It was this extra money
      kept aside that kept the business moving.
    </p>
    <ul>
      <li>Register a Business name</li>
      <li>Register a Business name</li>
      <li>Dispatch bike N350,000</li>
      <li>Parcel Box N35,000</li>
      <li>
        The document (Bike receipt entailing chassis number and engine number)
        N45,000
      </li>
      <li>Parcel box branding</li>
      <li>Helmet</li>
      <li>Insurgence budget:</li>
    </ul>
    <p>
      Extra Tips: Invest in the Right marketing else you may end up wasting time
      and money. Be professional and well branded. The highest form of marketing
      is from referral and direct selling. Social media does not give you
      customer it only keeps your customers reminded that you exist.
    </p>

    <app-cta></app-cta>
  </section>
</div>
