@import "../../assets/scss/config.scss";

.insights {
  margin-top: 50px;
  &-intro {
    padding: 20px;
    &__header {
      text-align: center;
      color: $header-color;
    }
    &__text {
      text-align: center;
      color: $text-color;
    }
  }
  + &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: space-around;
  }
  &-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 0;
    flex: 0 0 30%;
    cursor: pointer;

    img {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 30vh;
      object-fit: cover;
      overflow: hidden;
      border-radius: 8px;
    }

    p {
      width: 90%;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: $header-color;
      text-align: left;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.cta {
  color: rgb(245, 181, 19);
  font-weight: 500;
  cursor: pointer;
}

@include media-lg {
  .insights {
    margin-top: 100px;
    &-intro {
      &__header {
        text-align: center;
        color: $header-color;
      }
      &__text {
        text-align: center;
        color: $text-color;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 50px 100px;
      justify-content: space-around;
    }
    &-item {
      list-style: none;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 50px 0;
      flex: 0 0 30%;
      cursor: pointer;

      img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        overflow: hidden;
        border-radius: 8px;
      }

      p {
        width: 90%;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: $header-color;
        text-align: left;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .cta {
    color: rgb(245, 181, 19);
    font-weight: 500;
    cursor: pointer;
  }
}
